body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --heading-6-pr: "Bai Jamjuree";

  /* font sizes */
  --heading-7-size: 18px;
  --heading-6-pr-size: 24px;
  --font-size-lgi: 19px;
  --heading-4-size: 40px;
  --heading-5-size: 32px;
  --font-size-7xl: 26px;
  --heading-3-pr-size: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-3xl: 22px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --heading-4-pr-size: 48px;

  /* Colors */
  --primary-text-grey: #7e7e7f;
  --primary-black: #16110b;
  --primary-text-white: #e3e4e6;
  --color-white: #fff;
  --button-stroke: #c84820;
  --button-bg: #fefe7c;
  --color-khaki-100: #e6e663;
  --color-khaki-200: rgba(230, 230, 99, 0.09);
  --color-coral: #e0613b;

  /* Gaps */
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-4xl: 23px;
  --gap-5xs-9: 7.9px;
  --gap-base: 16px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-2xs-1: 10.1px;
  --gap-mid: 17px;
  --gap-10xs: 3px;
  --gap-139xl-1: 158.1px;
  --gap-mid-3: 17.3px;
  --gap-4xs: 9px;
  --gap-50xl-1: 69.1px;
  --gap-9xs-3: 3.3px;
  --gap-21xl: 40px;
  --gap-28xl: 47px;
  --gap-5xs: 8px;
  --gap-6xl: 25px;
  --gap-13xl: 32px;
  --gap-7xl: 26px;
  --gap-12xs: 1px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-31xl: 50px;
  --gap-3xs: 10px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-9xl: 28px;
  --gap-33xl: 52px;
  --gap-16xl: 35px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-6xs-3: 6.3px;
  --padding-31xl: 50px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-base-5: 15.5px;
  --padding-23xl: 42px;
  --padding-45xl-5: 64.5px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-435xl-3: 454.3px;
  --padding-104xl: 123px;
  --padding-9xs-7: 3.7px;
  --padding-61xl: 80px;
  --padding-8xs: 5px;
  --padding-3xl: 22px;
  --padding-14xl: 33px;
  --padding-43xl: 62px;
  --padding-58xl-6: 77.6px;
  --padding-59xl: 78px;
  --padding-48xl: 67px;
  --padding-16xl: 35px;
  --padding-15xl-6: 34.6px;
  --padding-35xl: 54px;
  --padding-15xl: 34px;
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-39xl: 58px;
  --padding-50xl: 69px;
  --padding-3xs: 10px;
  --padding-52xl: 71px;
  --padding-71xl: 90px;
  --padding-36xl: 55px;
  --padding-5xl: 24px;
  --padding-8xs-5: 4.5px;
  --padding-6xs-5: 6.5px;
  --padding-112xl: 131px;
  --padding-8xl: 27px;
  --padding-113xl: 132px;
  --padding-9xl: 28px;
  --padding-89xl: 108px;
  --padding-90xl: 109px;
  --padding-78xl: 97px;
  --padding-101xl: 120px;
  --padding-4xs: 9px;
  --padding-33xl: 52px;
  --padding-13xl: 32px;
  --padding-18xl: 37px;
  --padding-10xl: 29px;
  --padding-37xl: 56px;
  --padding-lg: 18px;
  --padding-199xl: 218px;
  --padding-123xl: 142px;
  --padding-91xl: 110px;
  --padding-34xl: 53px;
  --padding-72xl-5: 91.5px;
  --padding-6xl: 25px;
  --padding-73xl-5: 92.5px;
  --padding-73xl: 92px;
  --padding-62xl: 81px;
  --padding-24xl: 43px;
  --padding-19xl-5: 38.5px;
  --padding-12xl: 31px;
  --padding-46xl: 65px;
  --padding-58xl: 77px;
  --padding-5xs: 8px;
  --padding-55xl: 74px;
  --padding-17xl: 36px;
  --padding-xl-5: 20.5px;
  --padding-3xl-5: 22.5px;
  --padding-26xl: 45px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-8xs: 5px;
  --br-base: 16px;
}
